* {
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
  }
  
  .header-container {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(77, 71, 71));
    height: 20vh;
    text-align: center;
  }
  
  .header-text {
    color: rgba(255, 230, 0, 0.858);
    padding: 30px 10px;
  }
  
  .main {
    display: flex;
    height: 80vh;
  }
  
  
  .main .number-buttons {
    background-color: white;
    width: 50%;
  }
  
  .main .third {
    /* background-color: white; */
    width: 25%;
  }
  
  .selected-container {
    height: 100%;
    border: 5px solid #cdcd0a;
    color: #cdcd0a;
    padding: 10px 10px;
    position: relative;
  }
  
  .total {
    position: absolute;
    bottom: 10px;
  }
  
  .numberButtons {
    padding: 10px;
  }
  
  .numberbtn {
    background-color: black;
    border: 3px solid rgb(210, 203, 203);
    box-shadow: 0px 0px 5px #817373fa;
    color: #cdcd0a;
    font-size: 20px;
    width: 17%;
    padding: 10px;
    text-align: center;
    margin: 10px 5px;
  }
  
  .numberContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .numberbtn:hover{
    background-color: rgb(60, 65, 67);
    border: 3px solid rgb(230, 60, 60);
    box-shadow: 0px 0px 5px #e61313fa;
  }
  
  .selectedButton{
    background-color: rgb(60, 65, 67);
    background: red;
  }
  .first{
   
    /* background-color: red; */
    width: 25%;
    /* height: 100%; */
  }
  .first-bg{
    background: url(../background.jpg);
    height: 40%;
    background-repeat: no-repeat;
    background-size: 100% auto;
  
  }
  .money-button{
    border-radius: 100%;
    padding: 5px;
    height: 50px;
    width: 50px;
    background-color: rgba(172, 18, 18, 0.514);
    margin: 5px ;
    box-shadow: 0px 0px 5px #e61313fa;
    color: white;
  }
  
  .buttons-container button{
    padding: 5px;
    margin: 5px;
    background-color: rgba(172, 18, 18, 0.514);
    box-shadow: 0px 0px 5px #e61313fa;
    
  }